.id {
    width: 940px;
    height: 447px;
    text-align:left;
    color:darkred;
    background-color: rgb(151, 151, 165);
    font-family: Arial, Helvetica, sans-serif;
    background-image: url("https://proforientator.ru/publications/articles/New%20Folder/programmist_st.jpg");
}